[alias]
  ci = commit
  co = checkout
  cp = cherry-pick
[core]
  editor = vim
  excludesfile = ~/.gitignore.global
  whitespace = warn
[help]
  autocorrect = 10
[include]
  path = ~/.gitconfig.local
[interactive]
  singlekey = true
